html {background:#000 url('../images/body-bg.jpg') top center no-repeat}

div {position:relative;width:512px;height:256px;background:transparent url('../images/meteorswarm_logo.png') 0 0 no-repeat;margin:170px auto 0 auto}

h1,h2,p {text-indent:-999em}

h2 {width:241px;height:47px;position:absolute;top:230px;left:135px;background:transparent url('../images/coming-soon.png') 0 0 no-repeat}